<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label for="cedula">Cédula:</label>
    <input type="text" id="cedula" name="cedula" required><br>

    <label for="id_prestamo">Préstamo:</label>
    <select id="id_prestamo" name="id_prestamo" required>
        {% for prestamo in prestamos %}
            <option value="{{ prestamo.id_prestamo }}">{{ prestamo.id_prestamo }}</option>
        {% endfor %}
    </select><br>

    <label for="monto_total">Monto Total:</label>
    <input type="number" id="monto_total" name="monto_total" step="0.01" required><br>

    <label for="monto_capital">Monto Capital:</label>
    <input type="number" id="monto_capital" name="monto_capital" step="0.01" required><br>

    <label for="monto_interes">Monto Interés:</label>
    <input type="number" id="monto_interes" name="monto_interes" step="0.01" required><br>

    <label for="fecha_pago">Fecha de Pago:</label>
    <input type="date" id="fecha_pago" name="fecha_pago" required><br>

    <label for="id_tipo_pago">Tipo de Pago:</label>
    <select id="id_tipo_pago" name="id_tipo_pago" required>
        {% for tipo_pago in tipo_pagos %}
            <option value="{{ tipo_pago.id_tipo_pago }}">{{ tipo_pago.tipo_pago }}</option>
        {% endfor %}
    </select><br>

    <input type="submit" value="Guardar">
</form>