{% extends "base.html" %}

{% block titulo %} Pagos Realizados {% endblock %}

{% block contenido %}
    <div class="card">
        <div class="card-header">
                <a
                    name=""
                    id=""
                    class="btn btn-success"
                    href="/crear_pago"
                    role="button"
                    > Registrar Pago</a
                >    
        </div>
        <div class="card-body">
            <h4 class="card-title">Pagos</h4>

            <div
                class="table-responsive"
            >
                <table
                    class="table table-primary"
                >
                    <thead>
                        <tr>
                            <th scope="col">Cedula</th>
                            <th scope="col">Monto Total</th>
                            <th scope="col">Monto Capital</th>
                            <th scope="col">Monto Interes</th>
                            <th scope="col">Fecha de Pago</th>
                            <th scope="col">Prestamo</th>
                            <th scope="col">Tipo de Pago</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for pago in pagos %}
                        <tr class="">
                            <td style="vertical-align: text-top;">{{ pago.cedula}}</td>
                            <td style="vertical-align: text-top;">{{ pago.monto_total}}</td>
                            <td style="vertical-align: text-top;">{{ pago.monto_capital}}</td>
                            <td style="vertical-align: text-top;">{{ pago.monto_interes}}</td>
                            <td style="vertical-align: text-top;">{{ pago.fecha_pago}}</td>
                            <td style="vertical-align: text-top;">{{ pago.id_prestamo_id}}</td>
                            <td style="vertical-align: text-top;">{{ pago.id_tipo_pago}}</td>
                            <td style="vertical-align: text-top;"> 
                                <a name="" id="" class="btn btn-info" href="{% url 'editar_pago' pago.id_pagos %}" role="button">Editar</a>
                                <a name="" id="" class="btn btn-danger" href="{% url 'eliminarpago' pago.id_pagos %}" role="button">Borrar</a>

                               
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="card-footer text-muted">Bienvenido</div>
    </div>
    
{% endblock %}
