{% extends "base.html" %}

{% block titulo %} Prestamo {% endblock %}

{% block contenido %}
    <div class="card">
        <div class="card-header">
                <a
                    name=""
                    id=""
                    class="btn btn-success"
                    href="/crear_prestamo"
                    role="button"
                    >Agregar Nuevo Prestamo</a>    
        </div>
        <div class="card-body">
            <h4 class="card-title">prestamo</h4>

            <div
                class="table-responsive"
            >
                <table
                    class="table table-primary"
                >
                    <thead>
                        <tr>
                            <th>Cédula</th>
                            <th>Monto inicial</th>
                            <th>Plazo de los meses</th>
                            <th>Capital pendiente</th>
                            <th>Fecha de solictud</th>
                            <th>Fecha de la primera cuota</th>
                            <th>Fecha final</th>
                            <th>Estatus del prestamo</th>
                            <th></th>
                        </tr>
                       
                    </thead>
                    <tbody>
                        {%for prestamo in prestamos %}
                        <tr class="">
                            <td style="vertical-align: text-top;">{{ prestamo.cedula }}</td>
                            <td style="vertical-align: text-top;">{{ prestamo.monto_inicial }}</td>
                            <td style="vertical-align: text-top;">{{ prestamo.plazo_meses }}</td>
                            <td style="vertical-align: text-top;">{{ prestamo.capital_pendiente }}</td>
                            <td style="vertical-align: text-top;">{{ prestamo.fecha_solicitud }}</td>
                            <td style="vertical-align: text-top;">{{ prestamo.fecha_primera_cuota }}</td>
                            <td style="vertical-align: text-top;">{{ prestamo.fecha_final }}</td>
                            <td style="vertical-align: text-top;text-wrap: balance;width: 190px;">{{ prestamo.estatus_prestamo }}</td>
                            <td style="vertical-align: text-top;">
                                <a name="" id="" class="btn btn-info" href="{% url 'editar_prestamo' prestamo.id_prestamo %}" role="button">Editar</a>
                                <a name="" id="" class="btn btn-danger" href="{% url 'eliminarprestamo' prestamo.id_prestamo %}" role="button">Borrar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="card-footer text-muted">Bienvenido</div>
    </div>
    
{% endblock %}
