{% extends "base.html" %}

{% block titulo %} Tipos de Pago {% endblock %}

{% block contenido %}
    <div class="card">
        <div class="card-header">
                <a
                    name=""
                    id=""
                    class="btn btn-success"
                    href="/crear_tipopago"
                    role="button"
                    > Nuevo Tipo de Pago</a
                >    
        </div>
        <div class="card-body">
            <h4 class="card-title">Tipos Pagos</h4>

            <div
                class="table-responsive"
            >
                <table
                    class="table table-primary"
                >
                    <thead>
                        <tr>
                            <th scope="col">Codigo del Tipo de Pago</th>
                            <th scope="col">Tipo de Pago</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for tipopago in tipopago %}
                        <tr class="">
                            <td style="vertical-align: text-top;">{{ tipopago.id_tipo_pago}}</td>
                            <td style="vertical-align: text-top;">{{ tipopago.tipo_pago}}</td>
                            <td style="vertical-align: text-top;"> 
                                <a name="" id="" class="btn btn-info" href="{% url 'editar_tipopago' tipopago.id_tipo_pago %}" role="button">Editar</a>
                                <a name="" id="" class="btn btn-danger" href="{% url 'eliminartipopago' tipopago.id_tipo_pago %}" role="button">Borrar</a>

                               
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="card-footer text-muted">Bienvenido</div>
    </div>
    
{% endblock %}
